/*Andy Kukuc
 * Professor Charles Beck
 * ITMD-462-01
 * 6th Sept. 2019*/
html,body{
  font-family:"Trebuchet MS",Helvectica,Arial;
  background-color:#2A293E;
  color:#F0FFFF;
}
h1{
  text-align:center;
  color: #DCDCDC;
}
h2{
  text-align:center;
}
.button {
  text-align:center;
  display: block;
  border-radius: 4px;
  background-color: #FF8396;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 0 auto;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
footer{
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
footer p {
  padding-bottom: 10px;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: #BA27C4;
  font-weight: 600;
}
