<!DOCTYPE html>
<html>
  <head>
    <title>Update Students</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <div class="container">
      <h3><a href="/students">Students List</a></h3>
      <h1>Edit Student</h1>
      <form action="/studentss/update/<%= student._id%>" method="post">
        <table>
          <tbody>
            <tr>
              <td>Name</td>
              <td><input type="text" name="name" value="<%= student.name %>" /></td>
            </tr>
            <tr>
              <td>ID Number</td>
              <td><textarea name="ID_Number"><%= student.ID_Number %></textarea></td>
            </tr>
            <tr>
              <td>Current Year In School</td>
              <td><input type="text" name="Current_Year_In_School" value="<%= student.Current_Year_In_School %>" /></td>
            </tr>
            <tr>
              <td colspan="2"><button type="submit">Update</button></td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </body>
</html>
