<!DOCTYPE html>
<html>
  <head>
    <title>Employee List</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/students/create">Create Student</a></h3>
      <h1>Student List</h1>
      <% if(students.length>0) { %>
      <table>
        <thead>
          <tr>
            <th>Student Name</th>
            <th>Student ID Number</th>
          </tr>
        </thead>
        <tbody>

          <% for(var i=0; i<students.length;i++) { %>
            <tr>
              <td><a href="/students/show/<%= students[i]._id%>"><%= students[i].name%></a></td>
              <td><%= students[i].position%></td>
            </tr>
          <% } %>
        </tbody>
      </table>
      <% } else { %>
        <div>No employees found.</div>
      <% } %>
    </div>
  </body>
</html>
